*{
margin:0;
padding:0;
}
.aboutus{
  height:75%;
  width:100%;
}
.aboutus img{
  float:right;
  margin-right:2%;
  margin-top:-27%;
  border:2px solid black;
  width:40%;
  height:auto;
}
.link{
  margin-left:50%;
}
.us1{
  color:lightblue;
  margin-top:5%;
  margin-left:10%;
  font-family:'Oswald' , sans-serif;
}
.us2{
  margin-top:1%;
  color:gray;
  margin-left:3%;
  font-size:21px;
  font-family:'Oswald' , sans-serif;
  letter-spacing:1px;
  line-height: 1.7;
}
@media only screen and (max-width:1299px){
  .us2{
    font-size:18px;
  }
  .aboutus img{
    margin-right:1%;
    margin-top:-27%;
    width:30%;
  }
}
@media only screen and (max-width:1200px){
  .us2{
    font-size:18px;
  }
  .aboutus img{
    margin-right:1%;
    margin-top:-27%;
    width:35%;
  }
}
@media only screen and (max-width:1200px){
  .us2{
    font-size:16px;
  }
  .aboutus img{
    margin-right:2%;
  }
}
@media only screen and (max-width:1100px){
  .us2{
    font-size:14px;
    line-height:2.0;
  }
}
@media only screen and (max-width:1000px){
  .us1{
    margin-top:40%;
    text-align:center;
  }
  .us2{
    margin-top:0%;
    text-align:center;
    font-size:18px;
    letter-spacing: 1px;
  }
  .aboutus img{
    margin-right:23%;
    margin-top:-85%;
    width:50%;
  }
}
@media only screen and (max-width:900px){
  .aboutus img{
    margin-top:-92%;
  }
}
@media only screen and (max-width:800px){
  .aboutus img{
  margin-top:-89%;
  }
.us2{
  font-size:15px;
}
}
@media only screen and (max-width:700px){
  .aboutus{
    height:100%;
  }
  .us1{
    margin-left:5%;
    margin-top:5%;
    font-size:21px;
    text-align:center;
  }
  .us2{
    font-size:14px;
  }
.aboutus img{
  margin-top:0px;
  width:60%;
}
}
@media only screen and (max-width:600px){
  br {
  display: none;
}
}
